# 此为注释 – 将被 Git 忽略
# 忽略所有 .a 结尾的文件
*.last-run
# 但 lib.a 除外
# !lib.a
# 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
# /ZuckLibrary/ZuckLibrary/bin/
# 忽略 Package Control.cache 目录下的所有文件
Data/Packages/User/Package Control.cache
# 忽略 /Data/Local 目录下的所有文件
Data/Local/
Data/Index/
Data/Cache/
# 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
# doc/*.txt